#logospace {
    margin: 2% 12% 2% 12%;
    padding-left: 5%;
}

nav {
    margin: 0 12% 2% 12%;
    border: 1px solid gray;
}

#content {
    margin: 0 12% 0 12%;
}

#content p {
    text-indent: 2%;
}

footer {
    margin: 2% 12% 2% 12%;
    border: 1px solid gray;
    padding: 0.5% 0 0.5% 0;
}

table {
    margin: auto;
    width: 100% !important;
}

#logo {
    max-width: 7%;
    margin-left: -5%;
}

#artleft {
    float: left;
}

#artright {
    float: right;
    padding-left: 5%;
}